* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --text-font: 'Times New Roman', Times, serif;
}

body {
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 1);
    height: 100dvh;
    /* overflow: hidden; */
}

header > h1 {
    display: flex;
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin: 80px 0 30px;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 150px;
}

.texto-apresentacao {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 30px;
    /* margin-left: 100px; */
}

#php {
    color: rgb(111, 0, 255);
}

#web {
    color: red;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: relative;
    right: 429px;
}

.texto-contato {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 30px;
}

.icones {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    right: 30px;
}

a .linkedin {
    content: url(../img/linkedin-icon.png);
}

a .linkedin:hover {
    content: url(../img/linkedin-color-icon.png);
}

a .instagram {
    content: url(../img/instagram-icon.png);
}

a .instagram:hover {
    content: url(../img/instagram-color-icon.png);
}

a .github {
    content: url(../img/github-icon.png);
}

a .github:hover {
    content: url(../img/github-color-icon.png);
}